<h1>予約確認</h1>

<p>チェックイン日: <%= @reservation.check_in_date %></p>
<p>チェックアウト日: <%= @reservation.check_out_date %></p>
<p>宿泊日数: <%= @progressday %></p>
<p>人数: <%= @reservation.num_of_people %></p>
<p>支払い金額: <%= @total_price %></p>

<%= link_to '予約を確定する', reservations_path, method: :post %>
