<h2>予約済み施設一覧</h2>

<table>
  <thead>
    <tr>
      <th>施設画像</th>
      <th>施設名</th>
      <th>施設紹介</th>
      <th>お支払い金額</th>
      <th>チェックイン日</th>
      <th>チェックアウト日</th>
      <th>予約確定日時</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
    <% @room = Room.find(reservation.room_id) %>
      <tr>
        <td class="room_image">
        <% if @room.image.attached? %>
          <%= image_tag @room.image %>
        <% else %>
          <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png' %>
        <% end %>
        </td>
        <td><%= @room.name %></td>
        <td><%= @room.introduction %></td>
        <td><%= reservation.total_price %></td>
        <td><%= reservation.check_in_date %></td>
        <td><%= reservation.check_out_date %></td>
        <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
