<h2>検索結果:<%= @rooms.count %> 件</h2>

<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>住所</th>
      <th>紹介文</th>
      <th>料金(/日)</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
    <% @room = Room.find(room.id) %>
      <tr>
        <td class="room_image">
        <% if @room.image.attached? %>
          <%= image_tag @room.image %>
        <% else %>
          <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png' %>
        <% end %>
        <td><%= link_to room.name, room %></td>
        <td><%= room.address %></td>
        <td><%= room.introduction %></td>
        <td><%= room.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

