<h3>施設詳細</h3>

<table>
  <tr>
    <th>施設イメージ</th>
    <td class="room_image">
    <% if @room.image.attached? %>
      <%= image_tag @room.image %>
    <% else %>
      <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png' %>
    <% end %>
    </td>
  </tr>

  <tr>
    <th>施設名</th>
    <td class="room_detail"><%= @room.name %></td>
  </tr>

  <tr>
    <th>施設紹介</th>
    <td class="room_detail"><%= @room.introduction %></td>
  </tr>

  <tr>
    <th>料金(/日)</th>
    <td class="room_detail"><%= @room.price %></td>
  </tr>
</table>


<div class="link_btn">
  <%= link_to "施設一覧へ戻る", :rooms %>
</div>

<div class="reserve_form">
  <%= form_with model: Reservation.new, url: reservations_confirm_reservations_path(@reservation) do |f| %>
    <table>
      <tr>
        <th><%= f.label :check_in_date ,"チェックイン" %></th>
        <td><%= f.date_field :check_in_date %></td>
      </tr>

      <tr>
        <th><%= f.label :check_out_date ,"チェックアウト" %></th>
        <td><%= f.date_field :check_out_date %></td>
      </tr>

      <tr>
        <th><%= f.label :num_of_people ,"人数" %></th>
        <td><%= f.number_field :num_of_people %></td>
      </tr>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_id, value: @room.id%>
    </table>
    
    <p class="reserve_btn"><%= f.submit "予約する" %></p>
  <% end %>
</div>

