<!DOCTYPE html>
<html>
  <head>
    <title>Shukuhaku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="leftside">
        <a href="http://localhost:3000"><img class="header-logo" src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="ロゴ画像"></a>
      </div>

      <div class="rightside">
        <div id="header-user-icon">
          <% if user_signed_in? %>
          <%= current_user.name %>
          <% if current_user.image.attached? %>
          <%= image_tag current_user.image, class: "header-host-icon" %>
          <% else %>
          <img class="header-user-icon" src="https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png" alt="デフォルトアイコン">
          <% end %>
        </div>
        <% else %>
        <%= button_to 'ログイン', {controller: 'devise/sessions', action: 'new'}, {method: :get, class: "header-button" }%>
        <%= button_to '登録する', {controller: 'devise/registrations', action: 'new'}, {method: :get, class: "header-button" }%>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
